<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme-min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li role="presentation">
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li role="presentation">
        <a href="{% url 'edit' %}">Profile</a>
      </li>
      <li role="presentation">
        <a href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <h1>Look at me America</h1>
  </div>
</body>
</html>
